* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.clearfix {
    clear: both;
}

body {
    font-family: "Barlow Condensed", sans-serif;
    color: #fff;
}

section {
    padding: 30px 0;
}

section:nth-of-type(even) {
    background-color: #3e3e3e;
}

section:nth-of-type(odd) {
    background-color: #73281A;
}

section .container {
    text-align: center;
    width: 85%;
    overflow: auto;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

.title {
    font-size: 40px;
    text-align: center;
}

.title h2 {
    font-weight: 500;
    padding: 25px 0 0px;
}